[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/universal-router"]
	path = lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/v2-core"]
	path = lib/v2-core
	url = https://github.com/Uniswap/v2-core
