[profile.default]
src = 'contracts'
out = 'foundry-out'
solc_version = '0.8.26'
optimizer_runs = 1000000
ffi = true
fs_permissions = [{ access = "read-write", path = ".forge-snapshots/"}]
evm_version = "cancun"
gas_limit = "3000000000"

[profile.ci]
fuzz_runs = 100000

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
