[profile.default]
out = 'foundry-out'
solc_version = '0.8.26'
optimizer_runs = 1_000_000
ffi = true
fs_permissions = [{ access = "read-write", path = ".forge-snapshots/"}]
evm_version = "cancun"
gas_limit = "3000000000"
fuzz_runs = 10_000

[profile.ci]
fuzz_runs = 100_000

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
